<section>
    <h2>Entre como participante</h2>
    <form action="/enterroom" method="POST">
        <label class="sr-only" for="room-id">Codigo da sala</label>
        <input name="roomId" type="number" id="room-id" placeholder="Código da sala">
        <button>
            <img src="images/enter-room.svg" alt="Entrar na sala">
            Entrar na sala
        </button>
    </form>
</section>

<div class="separator">
    <div></div>
    <div>Ou</div>
    <div></div>
</div>

<section>
    <h2>Crie a sua própria sala de forma fácil</h2>
    <a href="/create-pass" class="button outlined">
        <img src="images/users-red.svg" alt="Criar sala"> 
        Criar sala
    </a>
</section>